body {
    background: linear-gradient(#1a1a1a, #000000);
    color: #eb2f06;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

header {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    line-height: 30px;
    height: auto;
    margin: auto;
}

.wrapper {
    display: flex;
    background: linear-gradient(#f6b93b, #fa983a);
    border: 4px solid #333333;
    border-radius: 1.5em;
    height: 75vh;
    width: 800px;
    color: #000000;
    margin: auto;
}

.wrapper-left {
    border-right: 4px solid #c5942f;
}

.window-top {
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    background: linear-gradient(#f6b93b, #fa983a);
}

.clicker-window {
    background-color: #fad390;
    height: 74%;
    width: 300px;
    padding: 20px;
}

.upgrade-window {
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    padding: 0 1.5em;
}

.upgrade-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: .2em;
    width: auto;
}

.upgrades {
    font-size: .8em;
    text-align: center;
    background-color: #fa983a;
    padding: .75rem;
    border: 1px solid #fad390;
    border-radius: 1.5rem;
    width: 108px;
    margin: .5em .2em;
    opacity: .8;
    cursor: default;
}

.upgrade-btn {
    width: 100px;
    border-radius: 6px;
}

.upgrades:hover + .info-card {
    display: block;
    background-color: #000000;
    opacity: 0.5;
    width: 318px;
    height: 100px;
    position: absolute;
    top: 530px;
    left: 15px;
    color: #ffffff;
    padding: 8px;
}

.info-card {
    display: none;
}

.pizza-btn {
    background-image: url(assets/imgs/pizzapie.jpeg);
    background-size: 280px 217px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #eb2f06;
    height: 175px;
    width: 175px;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
}

.pizza-btn:hover {
    height: 180px;
    width: 180px;
    background-size: 286px 223px;
}

.pizza-btn:active {
    height: 175px;
    width: 175px;
    background-size: 280px 217px;
}

.counter {
    background-color: rgba(0,0,0,.5);
    height: 40px;
    width: 320px;
    margin: auto;
    font-family: 'Azeret Mono', monospace; 
    font-size: 1.5em;
    font-weight: 800;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.dollar-sign {
    font-size: .75em;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: .25em;
    text-align: center;
    margin-top: .5em;
}

.back-link {
    text-decoration: none;
    color: #fa983a;
}

.back-link:hover {
    color: #ffffff;
}